<section ui-view>
	<div class="clearfix">
		<h1 class="pull-left">Your Activities</h1>
		<p class="pull-right sg-breath"><a ui-sref="new_activities()" class="btn btn-primary">+ Upload FIT file</a></p>
	</div>
	<div ng-show="!activities" style="text-align: center; font-size: 25rem">
		<i class="fa fa-spinner fa-spin"></i>
	</div>
	<div class="table-responsive" ng-show="activities">
	  <table class="table table-striped">
	      <thead>
	          <tr>
	              <th>Type</th>
	              <th>Date</th>
	              <th>Title</th>
	              <th>Time</th>
	              <th>Distance</th>
	              <th>Elevation</th>
	          </tr>
	      </thead>
	      <tbody infinite-scroll on-scroll="getActivities">
	          <tr ng-repeat="activity in activities" ui-sref="show_activities({id: activity.id})" class="sg-selectable">
	            <td>{{activity.type}}</td>
	            <td>{{activity.start_date | date: 'MM/dd/yyyy'}}</td>
	            <td>{{activity.name}}</td>
	            <td>{{activity.moving_time | time}}</td>
	            <td>{{activity.distance / 1000 | number: 2}} km</td>
	            <td>{{activity.total_elevation_gain}} m</td>
	          </tr>
	      </tbody>
	  </table>
	</div>
</section>